# Database
POSTGRESQL_URL=postgresql://diploma_postgres_user:NTA5DzzxBSZoP48IaxlWuyaO2799xwMB@dpg-d1pra4s9c44c738u6ad0-a.frankfurt-postgres.render.com/diploma_postgres

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=7d